* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// HEADER //

header {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: wheat;
    nav {
        height: 150px;
        position: fixed;
        background-color: wheat;
        z-index: 1000;
        top: 0;
        left: 0;
        border-bottom: 1px solid gray;
        display: flex;
        width: 100%;
        .main__nav {
            height: 100%;
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                font-weight: bolder;
                color: black;
                font-family: 'Press Start 2P', cursive;
                font-size: 16px;
                transition: font-size 0.5s ease;
            }
            a:hover {
                font-size: 19px;
            }
        }
                .div__darkmode {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                }
        
                .container__darkmode {
                    height: 35px;
                    width: 55%;
                    background-color: black;
                    border-radius: 20px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    box-sizing: border-box;
                    transition: background-color 0.5s ease;
                }
        
                .btn__darkmode {
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    left: 5px;
                    border-radius: 50%;
                    background-color: wheat;
                    cursor: pointer;
                    transition: left 0.5s ease;
                }
        
                .container__darkmode.active .btn__darkmode {
                    left: calc(100% - 35px);
                }
    }
}

// RESPONSIVE // 

@media (max-width :1400px) {
    header {
        nav {
            .main__nav {
                a {
                    font-size: 14px;
                }
                a:hover {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width :1200px) {
    header {
        nav {
            .main__nav {
                a {
                    font-size: 10px;
                }

                a:hover {
                    font-size: 12px;
                }
            }
            .container__darkmode {
                width: 70%;
            }
        }
    }
}
@media (max-width :800px) {
    header {
        nav {
            .container__darkmode {
                height: 30px;
                width: 80%;
            }
            .btn__darkmode {
                height: 20px;
                width: 20px;
            }
            .container__darkmode.active .btn__darkmode {
                left: calc(100% - 25px);
            }
        }
    }
}
@media (max-width: 600px) {
    header {
        height: 100px;
        nav {
            height: 100px;
            .main__nav {
                a {
                    font-size: 8px;
                }
                a:hover {
                    font-size: 10px;
                }
            }
            .container__darkmode {
                height: 25px;
            }
        }
    }
}
@media (max-width: 500px) {
    header {
        nav {
            .main__nav {
                a {
                    font-size: 8px;
                }
                a:hover {
                    font-size: 10px;
                }
            }
            .container__darkmode {
                height: 20px;
            }
            .btn__darkmode {
                height: 15px;
                width: 15px;
            }
            .container__darkmode.active .btn__darkmode {
                left: calc(100% - 20px);
            }
        }
    }
}
@media (max-width: 500px) {
    header {
        height: 70px;
        nav {
            height: 70px;
            .main__nav {
                a {
                    font-size: 6px;
                }
                a:hover {
                    font-size: 8px;
                }
            }
            .container__darkmode {
                height: 15px;
            }
            .btn__darkmode {
                height: 10px;
                width: 10px;
            }
            .container__darkmode.active .btn__darkmode {
                left: calc(100% - 15px);
            }
        }
    }
}

// activation darkmode//

.active {
    justify-content: flex-end;
}
.dark-mode * {
    background-color: black !important;
    color: white !important;
    fill: white;
}
#light-mode {
    color: black !important;
    background-color: white !important;
}
.borderskill {
    border: 1px white solid !important;
}
#apropos-mode {
    background-color: #227d3a !important;
    color: black !important;
}

// SECTION ACCUEIL// 

.accueil {
    background-color: wheat;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: -10px;
    height: 665px;
    h1,h2 {
        width: 100%;
    }
    .reseaux {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 100px;
        a {
            color: black;
            i {
                font-size: 50px;
                transition: font-size 0.5s ease;
                cursor: pointer;
            }
            i:hover {
                font-size: 60px;
            }
        }
    }
    img {
        width: 250px;
        height: 250px;
    }
}
// RESPONSIVE //

@media (max-width: 700px ) {
    .accueil {
            letter-spacing: -12px;
            padding: 70px 0px;
    
            h1 {
                span {
                    font-size: 20px;
                }
            }
    
            h2 {
                span {
                    font-size: 20px;
                }
            }
    
            img {
                width: 200px;
                height: 200px;
            }
        }
}
@media (max-width: 500px) {
    .accueil {
        h1 {
            span {
                font-size: 15px;
            }
        }
        h2 {
            span {
                font-size: 15px;
            }
        }
        .reseaux {
            a {
                i {
                    font-size: 40px;
                }
                i:hover {
                    font-size: 50px;
                }
            }
        }
    }
}

// ANIMATION // 


#l1 {
    animation: letters 0.75s ease 0ms forwards;
}

#l2 {
    animation: letters 0.75s ease 100ms forwards;
}

#l3 {
    animation: letters 0.75s ease 200ms forwards;
}

#l4 {
    animation: letters 0.75s ease 300ms forwards;
}

#l5 {
    animation: letters 0.75s ease 400ms forwards;
}

#l6 {
    animation: letters 0.75s ease 500ms forwards;
}

#l7 {
    animation: letters 0.75s ease 600ms forwards;
}

#l8 {
    animation: letters 0.75s ease 700ms forwards;
}

#l9 {
    animation: letters 0.75s ease 800ms forwards;
}

#l10 {
    animation: letters 0.75s ease 900ms forwards;
}

#l11 {
    animation: letters 0.75s ease 1000ms forwards;
}

#l12 {
    animation: letters 0.75s ease 1100ms forwards;
}

#l13 {
    animation: letters 0.75s ease 1200ms forwards;
}

#l14 {
    animation: letters 0.75s ease 1300ms forwards;
}

#l15 {
    animation: letters 0.75s ease 1400ms forwards;
}

#l16 {
    animation: letters 0.75s ease 1500ms forwards;
}

#l17 {
    animation: letters 0.75s ease 1600ms forwards;
}

#l18 {
    animation: letters 0.75s ease 1700ms forwards;
}

#l19 {
    animation: letters 0.75s ease 1800ms forwards;
}

#l20 {
    animation: letters 0.75s ease 1900ms forwards;
}

#l21 {
    animation: letters 0.75s ease 2000ms forwards;
}

#l22 {
    animation: letters 0.75s ease 2100ms forwards;
}

@keyframes letters {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

h1 span {
    opacity: 0;
}

#l01 {
    animation: lettre 0.75s ease 100ms forwards;
}

#l02 {
    animation: lettre 0.75s ease 200ms forwards;
}

#l03 {
    animation: lettre 0.75s ease 300ms forwards;
}

#l04 {
    animation: lettre 0.75s ease 400ms forwards;
}

#l05 {
    animation: lettre 0.75s ease 500ms forwards;
}

#l06 {
    animation: lettre 0.75s ease 600ms forwards;
}

#l07 {
    animation: lettre 0.75s ease 700ms forwards;
}

#l08 {
    animation: lettre 0.75s ease 800ms forwards;
}

#l09 {
    animation: lettre 0.75s ease 900ms forwards;
}

#l010 {
    animation: lettre 0.75s ease 1000ms forwards;
}

#l011 {
    animation: lettre 0.75s ease 1100ms forwards;
}

#l012 {
    animation: lettre 0.75s ease 1200ms forwards;
}

#l013 {
    animation: lettre 0.75s ease 1300ms forwards;
}

#l014 {
    animation: lettre 0.75s ease 1400ms forwards;
}

#l015 {
    animation: lettre 0.75s ease 1500ms forwards;
}

#l016 {
    animation: lettre 0.75s ease 1600ms forwards;
}

#l017 {
    animation: lettre 0.75s ease 1700ms forwards;
}

#l018 {
    animation: lettre 0.75s ease 1800ms forwards;
}

#l019 {
    animation: lettre 0.75s ease 1900ms forwards;
}

#l020 {
    animation: lettre 0.75s ease 2000ms forwards;
}

#l021 {
    animation: lettre 0.75s ease 2100ms forwards;
}

@keyframes lettre {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

h2 span {
    opacity: 0;
}

// SECTION A PROPOS //


.a-propos {
    height: 600px;
    padding: 150px 100px;
    background-color: wheat;
    .title__a-propos {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .border__h3 {
            width: 30%;
            height: 1px;
            background-color: grey;
        }
        h3 {
            font-family: "Press Start 2P", cursive;
        }
    }
    .container__a-propos {
        height: 400px;
        width: 100%;
        margin-top: 120px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        .text__a-propos {
            height: 360px;
            background-color: black;
            width: 70%;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px;
            p {
                color: #30B052;
                font-family: "Press Start 2P", cursive;
                line-height: 35px;
            }
        }
    }
}

// RESPONSIVE // 

@media (max-width: 1400px){
.a-propos {
    .container__a-propos {
        .text__a-propos {
            height: 400px;
            width: 80%;
            p {
                font-size: 14px;
            }
        }
    }
}
}
@media (max-width: 1200px) {
.a-propos {
        .container__a-propos {
            .text__a-propos {
                width: 100%;
            }
        }
    }
}
@media (max-width: 900px) {
    .a-propos {
        padding: 150px 50px;
        .container__a-propos {
            .text__a-propos {
                p {
                    font-size: 12px;
                }
            }
        }
        .title__a-propos {
            .border__h3 {
                width: 15%;
            }
            h3 {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 700px) {
    .a-propos {
        padding: 150px 25px;
        .title__a-propos {
            h3 {
                font-size: 12px;
            }
        }
        .container__a-propos {
            .text__a-propos {
                p {
                    font-size: 10px;
                    line-height: 30px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .a-propos {
        padding: 120px 10px;
        .title__a-propos {
            margin-top: 50px;
            h3 {
                font-size: 10px;
            }
            .border__h3 {
                display: none;
            }
        }
        .container__a-propos {
            .text__a-propos {
                p {
                    font-size: 8px;
                    line-height: 25px;
                }
            }
        }
    }
}

// SECTION TRAVAUX //

.travaux {
    border-top: 1px solid grey;
    padding: 180px 100px 85px 100px;
    background-color: wheat;
    border-bottom: 1px grey solid;
    .title__travaux {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        h3 {
            font-family: 'Press Start 2P', cursive;
            text-align: center;
        }
        .border__h3 {
            width: 30%;
            height: 1px;
            background-color: grey;
        }
    }
    .container__travaux {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 30px;
        flex-wrap: wrap;
        gap: 50px;
        .box__travaux {
            border: 1px solid grey;
            background-color: black;
            height: 350px;
            cursor: pointer;
            .box__img {
                width: 100%;
                position: relative;
                height: 70%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                i {
                    position: absolute;
                    top: 50%;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                    opacity: 0.7;
                    transition: opacity 0.3s;
                }
                i:hover {
                    opacity: 1;
                    padding: 6px;
                }
                .fa-arrow-left {
                    left: 10px;
                }
                .fa-arrow-right {
                    right: 10px;
                }
            }
            .box__description {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30%;
                box-sizing: border-box;
                border-top: 1px solid grey;
                background-color: white;
                font-weight: bolder;
            }
            .box__description:hover {
                opacity: 0.8;
            }
        }
    }
}

// RESPONSIVE // 

@media (max-width: 1800px){
    .travaux {
        .container__travaux {
            .box__travaux {
                height: 250px;
                width: 33%;
            }
        }
    }
}
@media (max-width: 1200px) {
    .travaux {
        .title__travaux {
            .border__h3 {
                width: 20%;
            }
        }
        .container__travaux {
            .box__travaux {
                height: 200px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .travaux {
        .container__travaux {
            .box__travaux {
                width: 40%;
            }
        }
    }
}
@media (max-width: 900px){
    .travaux {
        .title__travaux{
            .border__h3 {
                width: 15%;
            }
            h3 {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 800px) {
    .travaux {
        padding: 180px 50px 85px 50px;
        .container__travaux {
            .box__travaux {
                width: 45%;
            }
        }
    }
}
@media (max-width: 700px) {
    .travaux {
        .title__travaux {
            h3 {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 600px) {
    .travaux {
        padding: 120px 50px 85px 50px;
        .container__travaux {
            .box__travaux {
                width: 60%;
            }
        }
    }
}
@media (max-width: 500px) {
    .travaux {
        padding: 120px 20px 85px 20px;
        .container__travaux {
            .box__travaux {
                width: 70%;
            }
        }
        .title__travaux {
            .border__h3 {
                display: none;
            }
            h3 {
                font-size: 10px;
            }
        }
    }
}
@media (max-width: 400px) {
    .travaux {
        .container__travaux {
            .box__travaux {
                width: 100%;
            }
        }
    }
}

// MODAL // 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
            background-color: #fefefe;
            margin: 22% auto;
            border: 1px solid #888;
            width: 40%;
            text-align: center;
            border-radius: 5px;
            .modal_title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    font-family: 'Press Start 2P', cursive;
                    margin-top: 20px;
                }
                .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                
                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
            }
            .modal_description {
                padding: 50px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .description {
                    text-align: justify;
                    h4 {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .mission {
                    text-align: justify;
                    h4 {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .lien__projet {
                    border: 1px solid black;
                    width: 50%;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: wheat;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    a:hover {
                        font-weight: bold;
                    }
                }
            }
        }
}

// RESPONSIVE //


@media (max-width: 1400px){
    .modal {
        .modal-content {
            width: 55%;
        }
    }
}
@media (max-width: 900px) {
    .modal {
        .modal-content {
            width: 70%;
            margin: 30% auto;
        }
    }
}
@media (max-width: 700px) {
    .modal {
        .modal-content {
            width: 80%;
            margin: 40% auto;
            .modal_description {
                padding: 30px;
                .description {
                    p {
                        font-size: 14px;
                    }
                }
                .mission {
                    ul {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .modal {
        .modal-content {
            width: 90%;
            .modal_description {
                padding: 15px;
                gap: 20px;
                .description {
                    p {
                        font-size: 10px;
                    }
                }
                .mission {
                    ul {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

//SECTION COMPETENCES//

.competences {
    background-color: wheat;
    height: 600px;
    padding: 250px 50px 50px 50px;
    border-bottom: 1px grey solid;
    .title__competences {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        h3 {
            font-family: 'Press Start 2P', cursive;
        }
        .border__h3 {
            width: 30%;
            height: 1px;
            background-color: grey;
        }
    }
    .list__competences {
        height: 400px;
        margin-top: 100px;
        padding: 50px 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
        flex-direction: column;
        .list__une {
            display: flex;
            gap: 50px;
            .div__icone {
                border: 1px black solid;
                padding: 15px;
                text-align: center;
                background-color: white;
                opacity: 0;
            }
        }
        .list__deux {
            display: flex;
            gap: 50px;
            .div__icone {
                border: 1px black solid;
                background-color: white;
                padding: 15px;
                text-align: center;
                opacity: 0;
            }
        }
        i {
            font-size: 70px;
            opacity: 0;
        }
        .competence-icon{
            width: 70px;
            height: 70px;
            opacity: 0;
        }
    }
}


// animation icones // 

@keyframes icones {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.competence-icon.animated,
.div__icone.animated {
    animation: icones 0.75s ease forwards;
}   


#i1.animated {
    animation-delay: 200ms;
}

#i2.animated {
    animation-delay: 400ms;
}

#i3.animated {
    animation-delay: 600ms;
}

#i4.animated {
    animation-delay: 800ms;
}

#i5.animated {
    animation-delay: 1000ms;
}

#i6.animated {
    animation-delay: 1200ms;
}

#i7.animated {
    animation-delay: 1400ms;
}

#i8.animated {
    animation-delay: 1600ms;
}

#i9.animated {
    animation-delay: 1800ms;
}

#i10.animated {
    animation-delay: 2000ms;
}
// RESPONSIVE //


@media (max-width: 1200px ){
    .competences {
        .title__competences {
            .border__h3 {
                width: 20%;
            }
        }
    }
}
@media (max-width: 900px) {
    .competences {
        .title__competences {
            h3 {
                font-size: 15px;
            }
            .border__h3 {
                width: 15%;
            }
        }
        .list__competences {
            .list__une , .list__deux {
                .div__icone {
                    .competence-icon {
                        font-size: 40px;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .competences {
        .list__competences {
            gap: 50px;
            height: auto;
            .list__une , .list__deux {
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
        .title__competences {
            h3 {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 600px) {
    .competences {
        padding: 150px 50px 50px 50px;
    }
}
@media (max-width: 500px) {
    .competences {
        padding: 180px 50px 50px 50px;
        .title__competences {
            h3 {
                font-size: 10px;
            }
            .border__h3 {
                display: none;
            }
        }
        .list__competences {
            margin-top: 50px;
            .list__une , .list__deux {
                gap: 25px;
                .div__icone {
                    .competence-icon {
                        font-size: 30px;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}

// SECTION CONTACT //

.contact {
    background-color: wheat;
    height: 600px;
    padding: 250px 100px 100px 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    .title__contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        h3 {
            font-family: 'Press Start 2P', cursive;
            text-align: center;
        }
        .border__h3 {
            width: 30%;
            height: 1px;
            background-color: grey;
        }
    }
    .container__form {
        height: 400px;
        margin-top: 100px;
        width: 60%;
        box-sizing: border-box;
        border-radius: 10px;
        .form__content {
            display: flex;
            height: 400px;
            background-color: white;
            border-radius: 10px;
            .container__left {
                padding: 50px 0px 50px 20px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 80px;
                border-radius: 10px;
                .left__name{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    h4 {
                        font-size: 16px;
                        font-family: 'Press Start 2P', cursive;
                    }
                    p {
                        font-size: 19px;
                    }
                }
                .left__info {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    p {
                        font-weight: bold;
                        font-size: 18px;
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }         
            .container__right {
                width: 40%;
                padding: 25px 25px 25px 0px;
                border-radius: 10px;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: center;
                    input {
                        border-radius: 5px;
                        padding: 5px;
                        outline: none;
                        border: black 1px solid;
                        width: 80%;
                    }
                    textarea {
                        border-radius: 5px;
                        outline: none;
                        border: black 1px solid;
                        padding: 5px;
                        width: 100%;
                    }
                    .submit {
                        background-color: wheat;
                        font-weight: bold;
                        cursor: pointer;
                        width: 60%;
                    }
                    .submit:active {
                        border: 2px solid black;
                    }
                }
            }
        }
    }
}

// RESPONSIVE //

@media (max-width: 1400px) {
    .contact {
        .container__form {
            .form__content {
                .container__left {
                    .left__name {
                        h4 {
                            font-size: 12px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                    .left__info {
                        gap: 50px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .contact {
        .container__form {
            width: 80%;
        }
    }
}
@media (max-width: 1000px) {
    .contact {
        .container__form {
            width: 100%;
        }
    }
}
@media (max-width: 900px){
    .contact {
        .title__contact {
            .border__h3 {
                width: 20%;
            }
            h3 {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 800px) {
    .contact {
        height: auto;
        padding: 170px 100px 160px 100px;
        .container__form {
            height: auto;

            .form__content {
                height: auto;
                flex-direction: column;
                align-items: center;

                .container__left {
                    padding: 20px 0px 0px 0px;
                    width: auto;
                    gap: 10px;

                    .left__info {
                        gap: 20px;
                    }
                }

                .container__right {
                    width: 60%;
                    padding: 25px 0px 25px 0px;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .contact {
        .title__contact {
            h3 {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 600px) {
    .contact {
        padding: 250px 30px 100px 30px;
        .container__form {
            .form__content {
                .container__right {
                    width: 80%;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .contact {
        .title__contact {
            h3 {
                font-size: 10px;
            }
            .border__h3 {
                display: none;
            }
        }
    }
}

// CV // 

.cv {
    background-color: wheat;
    height: 600px;
    padding: 75px 100px 100px 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    .title__cv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .border__h3 {
            width: 30%;
            height: 1px;
            background-color: grey;
        }
        h3 {
            font-family: 'Press Start 2P', cursive;
            text-align: center;
        }
    }
    .container__cv {
        height: 600px;
        margin-top: 100px;
        display: flex;
        .cv__dark {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            img {
                width: 30%;
                cursor: pointer;
            }
            img:hover {
                width: 35%;
            }
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                font-weight: bolder;
                font-size: 16px;
            }
        }
        .cv__light {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            img {
                width: 30%;
                cursor: pointer;
            }
            img:hover {
                width: 35%;
            }
            a:hover + .dl {
                font-weight: bolder;
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
// RESPONSIVE // 

@media (max-width: 1400px){
    .cv {
        .container__cv {
            .cv__dark,.cv__light {
                img {
                    width: 35%;
                }
                img:hover {
                    width: 40%;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .cv {
        .container__cv {

            .cv__dark,
            .cv__light {
                img {
                    width: 40%;
                }

                img:hover {
                    width: 45%;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .cv {
        .container__cv {
            .cv__dark,
            .cv__light {
                img {
                    width: 45%;
                }

                img:hover {
                    width: 50%;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .cv {
        .title__cv {
            .border__h3 {
                width: 20%;
            }
            h3 {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 800px) {
    .cv {
        .container__cv {
            .cv__dark,
            .cv__light {
                img {
                    width: 60%;
                }

                img:hover {
                    width: 65%;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .cv {
        .title__cv {
            h3 {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 600px) {
    .cv {
        padding: 75px 30px 100px 30px;
}
}
@media (max-width: 500px) {
    .cv {
        .title__cv {
            h3 {
                font-size: 10px;
            }
            .border__h3 {
                display: none;
            }
        }
    }
}
@media (max-width: 400px) {
    .cv {
        .container__cv {
            .cv__dark,
            .cv__light {
                img {
                    width: 70%;
                }

                img:hover {
                    width: 75%;
                }
            }
        }
    }
}

// FOOTER // 

footer {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    gap: 10px;
    i {
        position: relative;
        bottom: 2px;
        color: black;
    }
}

// RESPONSIVE // 

@media (max-width: 700px){
    footer {
        p {
            font-size: 8px;
        }
    }
}
@media (max-width: 500px) {
    footer {
        p {
            font-size: 6px;
        }
    }
}